@import '../../../../sass/variables';

.pedal {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	background: #f3f3f3;
	box-shadow: 0 4px 4px #eee;
	border-radius: 2px;
    position: relative;
    padding: 1rem;
	& img {
		max-width: 5rem;
		border-radius: 50%;
		z-index: 1;
	}
	& p {
		color: $brand-text;
		font-family: 'Fugaz One', sans-serif, serif;
		z-index: 1;
	}
	& svg {
		width: 100%;
		position: absolute;
		top: 0;
		z-index: 0;
		& path {
			width: 100%;
		}
	}
}
