@import '../../../sass/variables';

.dashboard {
	min-height: 80vh;
	min-width: 80vw;
	max-width:95vw;
	background: #f3f3f3;
	display: flex;
	flex-direction: column;
	box-shadow: 0 4px 4px darken(#eee, 10%);
	border-radius: 5px;
}
.nav__top {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	border-bottom: 1px solid #eee;
	width: 100%;
	position: relative;
	& .wave {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		z-index: 0;
	}
}
.listings__results {
	position: relative;
	display: flex;
}
.brands__list {
	position: relative;
	left: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	overflow-x: auto;
	padding: 0 4rem;
	&::-webkit-scrollbar {
		width: 0px; /* Remove scrollbar space */
		background: transparent; /* Optional: just make scrollbar invisible */
	}
}
