@import '../../../sass/variables';

.dashboard {
	min-height: 80vh;
	min-width: 80vw;
	max-width: 95vw;
	background: #f3f3f3;
	display: flex;
	flex-direction: column;
	box-shadow: 0 4px 4px darken(#eee, 10%);
	border-radius: 5px;
	overflow-y: hidden;
}
.nav__top {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	border-bottom: 1px solid #eee;
	width: 100%;
	z-index: 2;
	overflow-y: hidden;
}
.brands__list {
	position: relative;
	left: 0;
	display: grid;
	grid-template-columns: repeat(3, auto);
	overflow-x: auto;
	z-index: 3;
	max-width: 100%;
	background: rgba(0, 153, 117, 0.6);
	box-shadow: inset 0px 0px 2px rgba(0, 153, 117, 1);
	&::-webkit-scrollbar {
		width: 0px; /* Remove scrollbar space */
		background: transparent;
		height: 0; /* Optional: just make scrollbar invisible */
	}
}

.brands__container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	overflow-x: auto;
	&::-webkit-scrollbar {
		width: 0px; /* Remove scrollbar space */
		background: transparent;
		height: 0; /* Optional: just make scrollbar invisible */
	}
}

.scroll__right {
	position: absolute;
	height: 100%;
	right: 0;
	background: rgba(243, 243, 243, 0.6);
	border: 1px solid $brand-accent;
	transition: all 0.5s ease-in-out;
	&:hover {
		background: #f3f3f3;
		cursor: pointer;
	}
	&:hover svg {
		color: $brand-accent;
	}
	& svg {
		transition: all 0.3s ease-in-out;
		color: $brand-text;
		font-size: 1.2rem;
	}
}
.scroll__left {
	position: absolute;
	height: 100%;
	left: 0;
	background: rgba(243, 243, 243, 0.6);
	border: 1px solid $brand-accent;
	transition: all 0.5s ease-in-out;
	&:hover {
		background: #f3f3f3;
		cursor: pointer;
	}
	&:hover svg {
		color: $brand-accent;
	}
	& svg {
		transition: all 0.3s ease-in-out;
		color: $brand-text;
		font-size: 1.2rem;
	}
}
.listings__results {
	position: relative;
	display: flex;
	z-index: 2;
	overflow-y: hidden;
}
.pedal__view {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	z-index: 2;
	overflow-y: hidden;
	box-shadow: 0 2px 2px darken(#eee, 10%);
}
